body
{
background-color:#aaff78;
background-image: url("../images/gray11 copy.jpg");
}

.container .row div
{
   height:50px;
   padding-top: 40px;
   padding-bottom:40px;
  
   background:linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0,0.3));
   font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   font-weight:bold;
   color:white;
   font-size:18px;
   margin-top: -22px;
}

.container .row1 div
{
   height:50px;
   padding-top: 5px;
   padding-bottom:40px;
  
   background:linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0,0.3));
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   font-weight:bold;
   color:white;
   font-size:18px;
   margin-top: 12px;
}

.container .row div:hover
{
background:linear-gradient(rgba( 51, 26, 0,0.5),gray);
font-size:19px;
border-bottom:2px solid black;
color:rgba(240,240,240,0.8);
}
.container .row1 div:hover
{
background:linear-gradient(rgba( 51, 26, 0,0.5),gray);
font-size:19px;
border-bottom:2px solid black;
color:rgba(240,240,240,0.8);
}



.container .row #firstdiv{
   border-bottom-left-radius: 5px;
}

.container .row #fourthdiv{
   border-bottom-right-radius: 5px;
}

.container-fluid .row #email_news div
{
color:white;
padding-bottom: 10px;
padding-top: 50px;
text-align: center;
font-family: tahoma;
font-weight:bold;
font-size:20px;
}


.container-fluid .row #email_news:hover
{
font-size:19px;
background:linear-gradient(rgba(0,255,0,0.3),rgb(160,160,160));
}
.container-fluid .row #email_news div img
{
   margin-bottom: 20px;
   height:50px;
   width:50px;
}

.container-fluid .row #email_news div{
   padding-left: 20px;
}


.container-fluid .row #email_news, #social_links
{
margin-top: 10px;
height:470px;
padding-top:20px;
padding-left:50px;
}

.container-fluid .row #social_links
{
	
}

.container-fluid .row #email_news
{
	
	padding:0;
}





.container-fluid .row #social_links div img
{
   margin-bottom: 80px;
   height:50px;
   width:50px;
}

.container-fluid .row #social_links div img:hover
{
	height:79px;
	width:79px;
}

.container-fluid .row #email_news div:hover
{
  margin:0;
  background:linear-gradient(gray);
 }
 